In [1]:
import numpy as np
import pandas as pd

In [3]:
autos = pd.read_csv("autos.csv", encoding = "windows-1251")

In [5]:
autos.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [ ]:
column = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 
                 'ab_test', 'vehicle_type', 'registration_year', 'gearbox',
                 'power_ps', 'model', 'odometer', 'registration_month',
                 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created',
                 'num_photos', 'postal_code', 'last_seen']

In [8]:
autos = autos.rename({'dateCrawled':"date_crawled", 'offerType':"offer_type",
             'abtest':"ab_test", 'vehicleType':"vehicle_type",
             'yearOfRegistration':"registration_year",
             'powerPS':'power_ps',
              'monthOfRegistration':"registration_month",
             'fuelType':'fuel_type',
             'notRepairedDamage':"damage",
             'dateCreated':'date_created', 'nrOfPictures':'no_pics',
              'postalCode':'postal_code',
       'lastSeen':'last_seen'},axis = 1)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand', 'damage',
       'date_created', 'no_pics', 'postal_code', 'last_seen'],
      dtype='object')

In [12]:
autos.isnull().sum()

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
ab_test                  0
vehicle_type          5095
registration_year        0
gearbox               2680
power_ps                 0
model                 2758
odometer                 0
registration_month       0
fuel_type             4482
brand                    0
damage                9829
date_created             0
no_pics                  0
postal_code              0
last_seen                0
dtype: int64

In [13]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null object
ab_test               50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
damage                40171 non-null object
date_created          50000 non-null object
no_pics               50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [15]:
autos.describe()

,registration_year,power_ps,registration_month,no_pics,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [16]:
autos.describe(include = ["O"])

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,gearbox,model,odometer,fuel_type,brand,damage,date_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-09 11:54:38,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

In [17]:
autos["seller"].unique()

array(['privat', 'gewerblich'], dtype=object)

In [18]:
autos["offer_type"].unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [19]:
autos["no_pics"].unique()

array([0], dtype=int64)

In [20]:
dropped_cols = ["seller", "offer_type", "no_pics"]

In [21]:
autos.drop(dropped_cols,axis = 1, inplace = True)

In [22]:
autos.columns

Index(['date_crawled', 'name', 'price', 'ab_test', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer',
       'registration_month', 'fuel_type', 'brand', 'damage', 'date_created',
       'postal_code', 'last_seen'],
      dtype='object')

In [23]:
autos.head(2)

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,damage,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08

In [26]:
autos["registration_year"].value_counts().sort_index().head(10)

1000    1
1001    1
1111    1
1500    1
1800    2
1910    9
1927    1
1929    1
1931    1
1934    2
Name: registration_year, dtype: int64

In [28]:
autos["registration_year"].value_counts().sort_index(ascending = False).head(20)

9999       4
9996       1
9000       2
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       3
2018     492
2017    1453
2016    1316
2015     399
2014     666
2013     806
2012    1323
2011    1634
Name: registration_year, dtype: int64

In [29]:
# 1910 - 2016

In [32]:
# bool_mask = (autos["registration_year"] >= 1910) & (autos["registration_year"] <= 2016)

In [33]:
bool_mask = autos["registration_year"].between(1910,2016)

In [34]:
autos = autos[bool_mask]

In [35]:
autos["registration_year"].describe()

count    48028.00000
mean      2002.80351
std          7.31085
min       1910.00000
25%       1999.00000
50%       2003.00000
75%       2008.00000
max       2016.00000
Name: registration_year, dtype: float64

In [36]:
autos.shape

(48028, 17)

In [37]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48028 entries, 0 to 49999
Data columns (total 17 columns):
date_crawled          48028 non-null object
name                  48028 non-null object
price                 48028 non-null object
ab_test               48028 non-null object
vehicle_type          44903 non-null object
registration_year     48028 non-null int64
gearbox               45604 non-null object
power_ps              48028 non-null int64
model                 45560 non-null object
odometer              48028 non-null object
registration_month    48028 non-null int64
fuel_type             44301 non-null object
brand                 48028 non-null object
damage                39040 non-null object
date_created          48028 non-null object
postal_code           48028 non-null int64
last_seen             48028 non-null object
dtypes: int64(4), object(13)
memory usage: 6.6+ MB

In [40]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [41]:
autos["price"].dtype

dtype('int32')

In [44]:
autos["price"].value_counts().sort_index().head(10)

0     1335
1      150
2        2
3        1
5        2
8        1
9        1
10       6
11       2
12       3
Name: price, dtype: int64

In [46]:
autos["price"].value_counts().sort_index().tail(15)

265000      1
295000      1
299000      1
345000      1
350000      1
999990      1
999999      2
1234566     1
1300000     1
3890000     1
10000000    1
11111111    2
12345678    1
27322222    1
99999999    1
Name: price, dtype: int64

In [ ]:
# 1-350000

In [48]:
autos = autos[autos["price"].between(1,350000)]

In [49]:
autos.shape

(46681, 17)

In [50]:
46681/50000

0.93362

In [51]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46681 entries, 0 to 49999
Data columns (total 17 columns):
date_crawled          46681 non-null object
name                  46681 non-null object
price                 46681 non-null int32
ab_test               46681 non-null object
vehicle_type          43977 non-null object
registration_year     46681 non-null int64
gearbox               44571 non-null object
power_ps              46681 non-null int64
model                 44488 non-null object
odometer              46681 non-null object
registration_month    46681 non-null int64
fuel_type             43363 non-null object
brand                 46681 non-null object
damage                38374 non-null object
date_created          46681 non-null object
postal_code           46681 non-null int64
last_seen             46681 non-null object
dtypes: int32(1), int64(4), object(12)
memory usage: 6.2+ MB

In [56]:
autos["odometer"] = autos["odometer"].str.strip("km").str.replace(",","").astype(int)

In [57]:
autos["odometer"].dtype

dtype('int32')

In [58]:
autos.rename({"price":"price_$", "odometer":"odometer_km"}, 
             axis=1, inplace = True)

In [59]:
autos.columns

Index(['date_crawled', 'name', 'price_$', 'ab_test', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer_km',
       'registration_month', 'fuel_type', 'brand', 'damage', 'date_created',
       'postal_code', 'last_seen'],
      dtype='object')

In [61]:
autos["brand"].value_counts().head(5)

volkswagen       9862
bmw              5137
opel             5022
mercedes_benz    4503
audi             4041
Name: brand, dtype: int64

In [62]:
autos["brand"].shape

(46681,)

In [68]:
str(round((9862/46681)*100,2)) + "%"

'21.13%'

In [74]:
autos["brand"].value_counts(normalize = True)

volkswagen        0.211264
bmw               0.110045
opel              0.107581
mercedes_benz     0.096463
audi              0.086566
ford              0.069900
renault           0.047150
peugeot           0.029841
fiat              0.025642
seat              0.018273
skoda             0.016409
nissan            0.015274
mazda             0.015188
smart             0.014160
citroen           0.014010
toyota            0.012703
hyundai           0.010025
sonstige_autos    0.009811
volvo             0.009147
mini              0.008762
mitsubishi        0.008226
honda             0.007840
kia               0.007069
alfa_romeo        0.006641
porsche           0.006127
suzuki            0.005934
chevrolet         0.005698
chrysler          0.003513
dacia             0.002635
daihatsu          0.002506
jeep              0.002271
subaru            0.002142
land_rover        0.002099
saab              0.001649
jaguar            0.001564
daewoo            0.001500
trabant           0.001392
rover             0.001328
lancia            0.001071
lada              0.000578
Name: brand, dtype: float64

In [75]:
autos["brand"].value_counts(normalize = True).sum()

1.0

In [80]:
brand = autos["brand"].value_counts(normalize = True)

# we decided brand, having more than 3% market share
common_brand = brand[brand>0.03].index
common_brand

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford',
       'renault'],
      dtype='object')

In [83]:
autos[autos["brand"] == "bmw"]["price_$"].mean()

8332.820517811953

In [84]:
brand_mean_price = {}

for brand in common_brand:
    mean_price = autos[autos["brand"] == brand]["price_$"].mean()
    brand_mean_price[brand] = mean_price

In [85]:
brand_mean_price

{'volkswagen': 5402.410261610221,
 'bmw': 8332.820517811953,
 'opel': 2975.2419354838707,
 'mercedes_benz': 8628.450366422385,
 'audi': 9336.687453600594,
 'ford': 3749.4695065890287,
 'renault': 2474.8646069968195}

In [87]:
bmp_series = pd.Series(brand_mean_price).sort_index()
bmp_series

audi             9336.687454
bmw              8332.820518
ford             3749.469507
mercedes_benz    8628.450366
opel             2975.241935
renault          2474.864607
volkswagen       5402.410262
dtype: float64

In [88]:
brand_mileage = {}

for brand in common_brand:
    mileage = autos[autos["brand"] == brand]["odometer_km"].mean()
    brand_mileage[brand] = mileage

In [89]:
brand_mileage

{'volkswagen': 128707.15879132022,
 'bmw': 132572.51313996495,
 'opel': 129310.0358422939,
 'mercedes_benz': 130788.36331334666,
 'audi': 129157.38678544914,
 'ford': 124266.01287159056,
 'renault': 128071.33121308497}

In [92]:
bmm = pd.Series(brand_mileage).sort_index()
bmm

audi             129157.386785
bmw              132572.513140
ford             124266.012872
mercedes_benz    130788.363313
opel             129310.035842
renault          128071.331213
volkswagen       128707.158791
dtype: float64

In [94]:
brand_df = pd.DataFrame(bmp_series, columns = ["mean"])
brand_df

                      mean
audi           9336.687454
bmw            8332.820518
ford           3749.469507
mercedes_benz  8628.450366
opel           2975.241935
renault        2474.864607
volkswagen     5402.410262

In [95]:
brand_df["mileage"] = bmm

In [99]:
brand_df.sort_values("mean", ascending = False).head()

                      mean        mileage
audi           9336.687454  129157.386785
mercedes_benz  8628.450366  130788.363313
bmw            8332.820518  132572.513140
volkswagen     5402.410262  128707.158791
ford           3749.469507  124266.012872

In [100]:
# abc = abc+1
# abc+1, inplace = True

In [101]:
autos["price_hp"] = autos["price_$"]/autos["power_ps"]

In [102]:
autos.head()

,date_crawled,name,price_$,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,damage,date_created,postal_code,last_seen,price_hp
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,31.645570
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,29.720280
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37,88.137255
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28,61.267606
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TЬV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50,inf

In [104]:
# autos.to_csv("updates.autos.csv", index = False)